<h1 class="text-center mt-4">Student Details</h1>


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 m-auto"  >
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
          
                <ul class="list-group list-group-flush mt-1">
                    <li class="list-group-item"> <h6>First Name: <span>  {{firstName}}</span></h6></li>
                    <li class="list-group-item"><h6>Last Name: <span>  {{lastName}}</span></h6></li>
                    <li class="list-group-item"><h6>Email: <span>  {{email}}</span></h6></li>
                       </ul>
                
              </div>
        </div>
    </div>
    
    </div>

